.GUIswitch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 36px;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%); }
  .GUIswitch div {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 16pt;
    text-align: right;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px; }
    .GUIswitch div:before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 9999px; }
  .GUIswitch input {
    display: none; }
  .GUIswitch input:focus + div {
    box-shadow: 0 0 1px #2196F3; }
  .GUIswitch input:checked + div:before {
    transform: translateX(84px); }
  .GUIswitch input:checked + div {
    text-align: left; }

* {
  margin: 0; }

html {
  background: whitesmoke; }

nav {
  position: fixed;
  height: 110px;
  width: 100%;
  background: #FF9900;
  z-index: 2; }
  nav > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.popupContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 5; }
  .popupContainer > :first-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    z-index: 5;
    cursor: auto; }

#logo {
  left: 5px;
  border-radius: 9999px;
  cursor: pointer;
  z-index: 4; }

#errorMessage {
  left: 5px;
  width: 100px;
  height: 100px;
  z-index: 3;
  background: white;
  border-radius: 9999px;
  overflow: hidden; }
  #errorMessage p {
    position: relative;
    display: inline-block;
    width: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    float: right;
    animation: errorBlinker 500ms alternate infinite; }

@keyframes errorBlinker {
  from {
    color: black; }
  to {
    color: red; } }

#account {
  right: 15px;
  padding-left: 0px;
  background: #0099FF;
  list-style: none;
  border-radius: 10px;
  z-index: 2; }
  #account li {
    font-size: 12pt;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 2px; }
    #account li:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #EEEEEE, #dbdbdb); }
  #account li:hover {
    background: whitesmoke; }

#accountLogger {
  z-index: 2;
  right: 15px; }
  #accountLogger #accountForm * {
    display: block;
    margin-bottom: 2px; }
  #accountLogger #accountForm input[type=submit] {
    float: left;
    font-size: 9.6pt;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF); }
    #accountLogger #accountForm input[type=submit]:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #EEEEEE, #dbdbdb); }
  #accountLogger button {
    float: right;
    font-size: 9.6pt;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF); }
    #accountLogger button:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #EEEEEE, #dbdbdb); }

#followList {
  max-height: 200px;
  background: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll; }

.follow * {
  display: inline-block;
  margin-left: 5px; }

.follow:not(:last-child) {
  border-bottom: 2px solid lightgray; }

#yellButton {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 9999px;
  cursor: pointer;
  border: 1px solid lightgray;
  transition: background-image 0.4s ease;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-weight: bold;
  background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);
  z-index: 2; }
  #yellButton:hover {
    border: 1px solid #7A7A7A;
    background-image: linear-gradient(to bottom, #EEEEEE, #dbdbdb); }

#yellForm {
  z-index: 2; }
  #yellForm * {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block; }
  #yellForm textArea {
    width: 300px;
    height: 70px;
    overflow: hidden;
    resize: none; }
  #yellForm input[type=submit] {
    font-size: 9.6pt;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF); }
    #yellForm input[type=submit]:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #EEEEEE, #dbdbdb); }

#userInfo {
  height: 45%;
  top: 78%;
  left: 125px;
  border-radius: 20px 20px 0px 0px;
  background: white;
  z-index: 2; }
  #userInfo * {
    display: inline;
    margin: 10px; }
  #userInfo #userPageName {
    padding-right: 10px; }
  #userInfo button {
    margin-right: 0px; }
  #userInfo #followButton {
    font-size: 12pt;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF); }
    #userInfo #followButton:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #00BA39, #64c180); }
  #userInfo #unfollowButton {
    font-size: 12pt;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 9999px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: background-image 0.4s ease;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF); }
    #userInfo #unfollowButton:hover {
      border: 1px solid #7A7A7A;
      background-image: linear-gradient(to bottom, #E42131, #d6747c); }

#content {
  padding-top: 115px; }

#yells {
  width: 400px;
  margin: auto;
  background: white;
  border: 2px solid lightgray;
  border-radius: 5px; }

.yell:not(:last-child) {
  border-bottom: 2px solid lightgray; }

.yellName {
  display: inline-block;
  margin-left: 20px;
  padding: 3px;
  padding-top: 0px;
  cursor: pointer;
  background: lightgray;
  border-radius: 0px 0px 5px 5px;
  font-weight: bold; }
  .yellName:hover {
    color: #0099FF; }

.yellMessage {
  margin-left: 27px;
  margin-right: 20px;
  word-wrap: break-word; }

.yellDate {
  text-align: right;
  margin-right: 5px;
  font-size: 8pt; }
